@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.container {
  padding: 20px;
  max-height: 550px;
  min-width: 500px;
  max-width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  gap: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
h1 {
  color: hsl(234, 29%, 20%);
}
p {
  font-size: 12px;
}

.content {
  padding: 0 20px;
}

.content,
.img {
  width: 100%;
  
}

.img img {
  width: 100%;
 min-height: 400px;
 max-height: 540px;

}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.list .list-item {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.input-button {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background-color: hsl(234, 29%, 20%);
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  margin: 10px;
  margin-left: 0px;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) { /* explique pra mim o que é o @media aqui! */
  .mobile-hidden {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  body {
    align-items: start;
    background-color: #fff;
  }
  .container {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: flex-start;
    align-items: start;
    border-radius: 0;
    box-shadow: none;
  }
  .content {
    width: 100%;
  }
  .img {
    width: 100%;
    padding: 0;
    overflow: hidden;
    

  }
}
form {
  overflow: hidden;
  position: relative;
  width: 100%;
}

input {
  color: #fff;
  font-size: 10px;
  width: 200px;
  padding: 22px 5px 5px;
 
  overflow: hidden;
  position: relative;
  width: 80%;
}

input {
  color: #fff;
  font-size: 28px;
  width: 100%;
  padding: 20px 5px 5px;
  overflow: hidden;
  position: relative;
  width: 80%;
  background-color: hsl(234, 29%, 20%); 
  border: none;
  border-radius: 4px;
}


label {
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #ffffff;
}

span {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 28px;
  transition: all 0.3s ease;
}

label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

input:focus + label span,
input:valid + label span {
  transform: translateY(-150%);
  font-size: 14px;
  bottom: 10px;
  background-color: hsl(234, 29%, 20%); 

}

input:focus + label::after,
input:valid + label::after {
  transform: translateX(0%);
background-color: hsl(234, 29%, 20%); 
  border: none;
  border-radius: 4px;
}

